node_modules
.idea
.vscode
yarn-error.log

# Build target
bls-eth-wasm/

# Diff target
dist/.travis.yml
dist/bench.js
dist/bls-demo.html
dist/bls-demo.js
dist/package.json
dist/readme.md
dist/test.js
dist/test/

# EMCC build files
bls-eth-wasm*/bls_c.js
bls-eth-wasm*/bls_c.wasm
